@page
@model Web.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Клиенти";
}

<h1>Клиенти</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Създай нов клиент</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Име</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th>Електронна поща</th>
            <th>Операции</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редактирай</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Детайли</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
